body
{
    font-family: 'sans-serif';
}

header {
  height:88vh;
  background-attachment:fixed;
  background-size:cover;
  background-position:left;
  background-repeat:no-repeat;
  background-image:linear-gradient(to right, black 0%, white 45%), url('../images/bulldozer.jpg');
  background-blend-mode:screen; 
}

header h1
{
    font-family: 'Arbutus', cursive;
    text-align:center;
    font-size:61px;
    color:#F8CA4D;
    margin-top:30px;
    text-shadow:0px 0px 4px #222;
}


header p
{
    text-align:center;
    font-size:21px;
    font-family: 'Arbutus', cursive;
    margin-top:70px;
}
.selectOption{
    align-content: center;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.selectPicker {
    width: 35%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 7px;
    margin-left: 1px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
