<header-layout></header-layout>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-aos="fade-left" data-aos-duration="100" data-aos-once="true">
                    <h1>Rental Management System</h1>
                    <p>Select location to continue </p>
                </div>
            </div>
            <div class="selectOption">
               <dropdown></dropdown>
            </div>
        </div>

    </header>
</body>

<footer-layout></footer-layout>